.classpath
.project
gt_updated.csv
*.swp
.DS_Store

new_harness/lib/libsvm-master/
new_harness/bin
new_harness/images
new_harness/forecache_metadata
new_harness/.settings
new_harness/sigMap_k100.ser

harness/lib/libsvm-master/
harness/bin
harness/images
harness/forecache_metadata
harness/.settings
harness/sigMap_k100.ser
