.sidebar {
  height:100px;
  padding-top: 110px;
  width: 110px;
  float: left;
}

.main {
  padding-left: 115px;
  padding-right: 30px;
}

/* center all page headers */
div.page-header h1, div.page-header h2 {
	text-align: center;
}

/*
#xlabel-radio ,#ylabel-radio,#zlabel-radio {
	display: inline;
}
*/
