
svg.forecache-vis {
	position: absolute;
	top: 0;
	left: 0;
}

.forecache-axis path,
.forecache-axis line,
.forecache-legend line,
.forecache-legend path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
